* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tasks-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

@media only screen and (max-width: 1012px) {
    .tasks-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }
}

@media only screen and (max-width: 970px) {
    .tasks-wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
}